{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
    <div class="archive__item-teaser">
      <img src="{{ teaser | relative_url }}" alt="">
    </div>
    {% endif %}
    <div class="archive__item-title" itemprop="headline">
      {% if post.date %}
        <span class="archive__item-excerpt">
          <i class="far fa-fw fa-calendar-alt"></i>
          {% if post.collection == 'talks'%}
            {{ post.date | date: '%Y, %b %d' }}
          {% else %}
            {{ post.date | date: '%Y' }}
          {% endif %}
        </span>
        <i class="fas fa-fw fa-grip-lines-vertical"></i>
      {% endif %}

      {% if post.link %}
      <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </div>

    <div class="archive__item-excerpt" itemprop="description">
      {% if post.collection == 'publications' %}
        Citation: {{ post.citation }}
      {% elsif post.collection == 'teaching' or post.collection == 'talks' %}
        {% if post.type %}{{post.type}}{% endif %}
        {% if post.venue %}at {{ post.venue -}}{% endif %}
        {% if post.location %},  {{post.location}}{% endif %}
      {% else %}
        {{post.excerpt}}
      {% endif %}
    </div>
 </article>
</div>
