/* ==========================================================================
   Teal skin
   ========================================================================== */

/* Colors */
$my-teal-color: rgb(31, 119, 189);


$background-color: mix(#fff, $my-teal-color,99%) !default;
$code-background-color: mix(#fff, $background-color, 20%) !default;
$code-background-color-dark: mix(#000, $background-color, 10%) !default;
$text-color: mix(#222, $my-teal-color, 85%) !default;
$muted-text-color: mix(#fff, $text-color, 10%) !default;
$border-color: mix(#ddd, $my-teal-color, 40%) !default;
$form-background-color: mix(#fff, $background-color, 15%) !default;
$footer-background-color: mix(#fff, $my-teal-color, 80%) !default;

/* Links */
$link-color: mix(#222, $my-teal-color, 70%) !default;
$link-color-hover: mix(#fff, $link-color, 10%) !default;
$link-color-visited: mix(#222, $link-color, 10%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 25%) !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

// Buttons
$primary-color: mix(#6f777d, $my-teal-color,10%);
$info-color: mix(#fff, $my-teal-color,10%);


.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.page__content {
   a,
   a:visited {
     color: inherit;
   }
 }
 
 /* next/previous buttons */
 .pagination--pager {
   color: $text-color;
   background-color: $primary-color;
   border-color: transparent;
 
   &:visited {
     color: $text-color;
   }
 }
 
 .ais-search-box .ais-search-box--input {
   background-color: $form-background-color;
 }